* {
  box-sizing: border-box;
}

body {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
  padding: 0;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header {
  background-color: #ffffff;
  height: 70px;
  border-bottom: 1px;
  text-align: center;
  padding-left: 200px;
}
.navbar {
  width: 960px;
}

.contaner {
  background-color: white;
  margin-left: 200px;
  margin-right: 0 auto;
  margin-top: 30px;
  width: 960px;
}

#about,
#contact {
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border-right: 1px solid #cccccc;
  height: 30px;
  margin-top: 20px;
  text-decoration: none;
  color: gray;
}

#portfolio {
  float: right;
  padding-right: 10px;
  padding-top: 5px;
  padding-left: 10px;
  height: 30px;
  margin-top: 20px;
  text-decoration: none;
  color: gray;
}

/* learned in class will implenet later */

/* a:link {
  color: gray;
}

a:hover {
  background-color: lightsteelblue;
} */

.name {
  float: left;
  background-color: #4aaaa5;
  color: white;
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
  text-align: center;
  width: 160px;
}

#image {
  float: left;
  padding-right: 20px;
  padding-bottom: 2opx;
}

#main-page {
  clear: both;
  margin: 30px;
  padding-bottom: 20px;
}

.pagetitle {
  padding-top: 20px;
  color: teal;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
}

footer {
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 30px;
  font-size: 10px;
  color: white;
}

.textbox {
  width: 100%;
  width: 100%;
  border: 1px solid lightgray;
}

#submit {
  background: #4aaaa5;
  color: white;
  height: 30px;
  width: 80px;
}

.portfolioboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
  height: 540px;
  width: 330px;
}

.boxes {
  position: relative;
  margin-bottom: 25px;
}
.boxtittle {
  position: absolute;
  bottom: 10px;
  height: 30px;
  width: 150px;
  background-color: #4aaaa5;
  text-align: center;
  padding-top: 5px;
  color: white;
}
